comment { -- Create vpp connected interface 1 - 2 }
create memif socket id 1 filename /run/vpp/socketvpp1_2.sock
create interface memif id 0 socket-id 1 slave
set int state memif1/0 up
set int ip address memif1/0 10.10.2.2/24
enable ip6 interface memif1/0
set int ip address memif1/0 2001:f2::2/126


comment { -- Create vpp connected interface 2 - 3 }
create memif socket id 2 filename /run/vpp/socketvpp2_3.sock
create interface memif id 0 socket-id 2 master
set int state memif2/0 up
set int ip address memif2/0 10.10.3.1/24
enable ip6 interface memif2/0
set int ip address memif2/0 2001:f3::1/126


comment { -- To host through vpp1 }
ip route add 10.10.1.0/24 via 10.10.2.1
ip route add 2001:f1::0/126 via 2001:f2::1

comment { -- Create loopback }
# create loopback interface
# set int state loop0 up
# set int ip address loop0 10.10.12.1/32
# enable ip6 interface loop0
# set int ip address loop0 2001:fdd2::1/128

comment { -- routes for loopback }
# ip route add 10.10.11.1/32 via 10.10.2.1
# ip route add 2001:fdd1::1/128 via 2001:f2::1
# ip route add 10.10.13.1/32 via 10.10.3.2
# ip route add 2001:fdd3::1/128 via 2001:f3::2


ip route add 10.11.4.0/24 via 10.10.3.2
ip route add 2001:f4::0/126 via 2001:f3::2

ip route add 2001:fdd3::1/128 via 2001:f3::2

comment { -- SRv6 }
# set sr encaps source addr 2001:fdd2::1
sr localsid address 2001:fdd2::1 behavior end

