comment { -- Create vpp connected interface 2 - 3 }
create memif socket id 2 filename /run/vpp/socketvpp2_3.sock
create interface memif id 0 socket-id 2 slave
set int state memif2/0 up
set int ip address memif2/0 10.10.3.2/24
enable ip6 interface memif2/0
set int ip address memif2/0 2001:f3::2/126
set interface mac address memif2/0 aa:bb:cc:dd:ee:05

comment { Create host interface }
create host-interface name vpp2out
set int state host-vpp2out up
set int ip address host-vpp2out 10.11.4.2/24
enable ip6 interface host-vpp2out
set int ip address host-vpp2out 2001:f4::2/126


ip route add 10.10.1.0/24 via 10.10.2.1
ip route add 2001:f1::0/126 via 2001:f2::1
ip route add 10.10.2.0/24 via 10.10.3.1
ip route add 2001:f2::0/126 via 2001:f3::1

comment { -- Create loopback }
create loopback interface
set int state loop0 up
set int ip address loop0 10.10.13.1/32
enable ip6 interface loop0
set int ip address loop0 2001:fdd3::1/128


comment { -- routes for loopback }
# ip route add 10.10.12.1/32 via 10.10.3.1
ip route add 2001:fdd2::1/128 via 2001:f3::1
# ip route add 10.10.11.1/32 via 10.10.3.1
ip route add 2001:fdd1::1/128 via 2001:f3::1

comment { SR policies }
sr localsid address C4::6 behavior end.dx6 host-vpp2out 2001:f4::1


comment { ipfix using flowprobe -> by default monitoring TX from interface: memif2/0 }
# set ipfix exporter collector 10.11.4.1 src 13.13.13.13 template-interval 5
# flowprobe params record l3 active 5 passive 5
# flowprobe feature add-del memif2/0 srh-delay-listsection rx
# # flowprobe feature add-del host-vpp2out ip6 tx

comment { IOAM decapsulation node }
set ioam-trace profile trace-type 0xF00000 namespace-id 1 num-elts 2 node-id-short 3 node-id-wide 0xF00 node-type transit ts-format-sub ns option-type prealloc
# set ioam rewrite dst_addr 2001:f4::1 trace

# classify table miss-next ip6-node ip6-lookup mask l3 ip6 dst
# classify session acl-hit-next ip6-node ip6-lookup table-index 0 match l3 ip6 dst 2001:fdd3::1 ioam-decap anycast
# set interface input acl intfc memif2/0 ip6-table 0

comment { simulating delay on export }
# wait 1
# set nsim delay 500.0 ms bandwidth 5.5 gbit packet-size 128
# nsim output-feature enable-disable memif2/0